.attribution { 
    font-size: 11px; text-align: center;
    position:fixed;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.column {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.column > img {
    width: 60px;
}

.boss {
    border-radius: 20px;
    margin: 20px;
} 

.column:first-child {
    background-color: hsl(31, 77%, 52%);
    /* border-top-left-radius:  ; */
}

.column:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

.column:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
}

.bouton {
    border-radius: 20px;
    border: 3px solid white;
    background-color: white;
    color:currentColor;
    text-align: center;
}

.bouton:hover {
    background-color: none;
    color: white;
}

h1 {
    font-weight: 700;
    font-family: 'Big Shoulders Display';
    color:hsl(0, 0%, 95%);
}

p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lexend Deca';
    color: hsla(0, 0%, 100%, 0.75);
}

@media (max-height:width) {
    .boss {
            display: flex;
    }
}